
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>


<p th:text="${book.getTitle()}+', '+${book.getAuthor()}+', '+${book.getYearOfRelease()}">VALUE</p>


<div th:if="${user}">
  <span>Книга сейчас у: </span> <span th:text="${user.getName()}">Person name</span>

  <form th:method="PATCH" th:action="@{/books/{id}/deleteBookUser(id=${book.getBookId()})}">
    <input type="submit" value="Освободить книгу"/>
  </form>
</div>

<div th:if="${people}">
  <span>Эта книга свободна. Кому вы хотите ее назначить? </span>
  <form th:method="PATCH" th:action="@{/books/{id}/addBookUser(id=${book.getBookId()})}">
    <label for="person">Выберите человека</label>
    <select th:object="${person}" th:field="*{personId}" id="person">
      <option th:each="person : ${people}" th:value="${person.getPersonId()}"
              th:text="${person.getName()}"> </option>
    </select>
    <input type="submit" value="Назначить книгу"/>
  </form>
</div>



<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
  <input type="submit" value="Редактировать"/>
</form>


<form th:method="DELETE" th:action="@{/books/{id}/(id=${book.getBookId()})}">
  <input type="submit" value="Удалить"/>
  <br/>
</form>


</body>
</html>

